* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
    background: radial-gradient(circle, rgb(133, 133, 133), rgb(220, 220, 220), rgb(255, 255, 255));
    background-size: 500% 500%;
    animation: meshMove 8s infinite ease-in-out;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes meshMove {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 74% 23%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#banner{
    width: 1100px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -10%;
}

#banner h1, main h2, h2.subtitle, footer p, footer a, .topcircle ul{
    font-family: 'Helvetica Regular', Arial, sans-serif;
}

#banner h1 {
    font-size: 7rem;
    color: #575757;
    margin-bottom: 1px;
}

.letter-container{
    display: flex;
}

.letter-box{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 120px; 
    height: 120px; 
    border: 1.5px solid #484848;
    font-family: 'Franklin Gothic Std', Arial, sans-serif;
    text-align: center; 
    padding-top: 3%; 
    margin: 0; 
    transition: padding-bottom 0.1s ease;
}

.letter-box:hover{
    padding-bottom: 10%;
}

h2.subtitle{
    font-size: 1rem;
    color: #565656;
    text-align: right;
    width: 100%;
    margin-top: 10px;
    font-weight: 300;
    padding-right: 12%;
}

footer p, footer a{
    margin-top: 25%;
    padding-top: 10%;
    font-size: 0.8rem;
    color: #989898;
    font-weight: 300;
    text-align: center;
}

main h2{
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: 2.5rem;
    color: #545454;
}

.topcircle ul{
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 300;
    color: #545454;
    text-align: center;
}

li:hover{
    background-color: rgb(170, 218, 0);
}

.topcircle ul li a{
    color: #484848;
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
}

.circles-container {
    display: flex;
    gap: 5vw;
}

.circle-stack{
    position: relative;
    width: 450px;
    height: 450px;
}

.circle{
    position: absolute; /* Allow stacking on top of each other */
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.topcircle { 
    width: 410px;
    height: 410px;
    background: #ededed;
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content at the top */
    align-items: center; /* Center horizontally */
    padding: 10px;
}

.bottomcircle{
    width: 430px;
    height: 430px;
    background: linear-gradient(145deg, rgba(200,255,0,1) 0%, rgb(91, 179, 4) 100%);/* Inner circle color */
    top: 20px;
    left: 20px;
    transition: transform 0.3s ease;
}

.circle-stack:hover .bottomcircle {
    transform: rotate(150deg);
}


@media (max-width: 1600px){
    .circle-stack{
        width: 400px;
        height: 400px;
    }

    .circle{
        width: 400px;
        height: 400px;
    }

    .topcircle{
        width: 380px;
        height: 380px;
    }

    footer{
        margin-top: 4%;
    }
}

@media (max-width: 1400px){
    .circles-container{
        margin-left: -3%;
    }

    .circle-stack{
        width: 350px;
        height: 350px;
    }

    .circle{
        width: 350px;
        height: 350px;
    }

    .topcircle{
        width: 330px;
        height: 330px;
    }

    main h2{
        font-size: 2.1rem;
    }

    .topcircle ul{
        font-size: 1rem;
    }
}

@media (max-width: 1200px){
    #banner{
        width: 100%;
    }

    .circles-container{
        gap: 80px;
        margin-left: -10%;
    }
    
    .circle-stack{
        width: 300px;
        height: 300px;
    }

    .circle{
        width: 350px;
        height: 350px;
    }

    .topcircle{
        width: 330px;
        height: 330px;
    }

}

@media (max-width: 1000px) {
    
    #banner{
        width: 80%;
        top: 10%;
    }
    
    main h2{
        font-size: 1.5rem;
    }

    .letter-box {
        width: 15vw;
        height: 15vw;
        font-size: 4vw;
    }

    .letter-box{
        font-size: 4rem;
        width: 80px; 
        height: 80px; 
        border: 1px solid #484848; 
        padding-top: 2%;
    }

    footer p {
        margin-top: 40%;
        margin-bottom: 25%;
    }

    .circles-container{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        padding-top: 60%;
    }

    .circle-stack {
        width: 250px; 
        height: 250px;
    }

    .circle{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .topcircle { 
        width: 280px;
        height: 280px;
        top: 30px;
        left: 30px;
    }
}

@media (max-width: 800px) {
    
    #banner{
        top: 60%;
    }

    h3{
        margin: 5%;
    }

    p, a {
        margin-top: 40%;
        font-size: 1rem;
    }

    .circles-container{
        margin-top: 25%;
        padding-top: 60%;
    }

    .circle-stack {
        width: 250px; 
        height: 250px;
    }

    .circle{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    .topcircle { 
        width: 280px;
        height: 280px;
        top: 30px;
        left: 30px;
    }
}

@media (max-width: 650px) {

    .letter-box{
        font-size: 3rem;
        width: 65px; /* Fixed width for each square */
        height: 65px; /* Fixed height for each square */
    }

    .circles-container{
        margin-top: 45%;
        padding-top: 80%;
    }
}
