body{
    margin: 10%;
}

h1{
    font-family: 'Helvetica Regular', Arial, sans-serif;
    font-weight: 900;
    font-size: 6rem;
}

p{
    font-family: 'Times New Roman', Arial, serif;
    font-weight: 200;
    font-size: 0.9rem;
    text-align: justify;
}

span{
    font-family: 'Times New Roman', Arial, serif;
    font-weight: 600;
}

#author{
    margin-top: -60px;
}

header{
    margin-top: -4%;
}

section{
    display: inline-grid;
    grid-template-rows: repeat(3, 1fr);
    gap: -10%;
}

#summary{
    grid-row-start: 1;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
}

.description{
    grid-row-start: 2;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
}

#one{
    grid-column-start: 1;
}

#two{
    grid-column-start: 2;
}

#three{
    grid-column-start: 3;
}

#four{
    grid-column-start: 4;
}

#feedback{
    grid-row-start: 4;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
}



